@page "/help"

<h3>できること</h3>

<p class="mb-5">
    TalesWeaver(v7.86 2021/6/23アップデート)のモンスターカード合成で、希望したスキルを持つカードが取得できる確率などをざっくり計算します。
</p>

<h3>つかいかた</h3>

<ul>
    <li class="mb-5">
        合成に使用する「Main Card」と「Sub Card」を一覧から選択します。
        <div class="ml-5">
            <img src="help-image/1.png" width="465" />
        </div>
    </li>
    <li class="my-5">
        カードを選択すると、そのカードが既定で持っているスキルが表示されます。<br />
        他のスキルが含まれているカードを使った合成をシミュレートしたいときは、カードのリスト部分を押すと全スキルの選択画面が表示されます。
        <div class="ml-5">
            <img src="help-image/2.png" width="465" />
        </div>
    </li>
    <li class="my-5">
        「Main Card」と「Sub Card」を指定すると、合成結果のカードが表示されます。
        <div class="ml-5">
            <img src="help-image/3.png" width="465" />
        </div>
    </li>
    <li class="my-5">
        合成素材のスキルが多く合成結果がランダムになる場合は、「必須スキル」の指定が可能です。<br />
        「必須スキル」を指定すると、そのスキルが含まれる合成結果が得られる確率を概算で表示します。<br />
        合成確率をもとに、何回引き直せば必須スキルがすべて含まれるカードが取得できるかの目安を表示します。
        <div class="ml-5">
            <img src="help-image/4.png" width="465" />
        </div>
    </li>
</ul>

<h3>合成成功率はどう計算を？</h3>

<details class="mb-5">
    <summary class="mb-5">
        合成成功率が「20%~40%」みたいに書いてあるのは何故？と気になる方向け。<br />
        細かいことが気にならない方は見ないほうが良いと思います…
    </summary>
    <p>
        高校数学で習う「組み合わせ」で計算できるレベルは、一応ちゃんと計算しています。(できてるはず…)<br />
        素材カードに「同じスキルのLv違い」が含まれているケースは、私の頭では計算できないので「この範囲内に収まっているであろう」という確率を計算しています。(できてるはず…)<br />
        <em>※もっと良い計算方法があれば教えて頂きたいです…</em>
    </p>

    <ol>
        <li class="mb-5">
            素材カードに合計5つのスキルがあり、合成結果は銅カード(4つまでしかスキルを持てない)<br />
            その中で特定の1スキルは必須としたい場合
            <div class="ml-5">
                <img src="help-image/calc1.png" width="465" />
            </div>
            <ul>
                <li>
                    合成結果として考えられる全ての組み合わせの総数は、「5つのスキルの中から4つを選ぶ」＝「<sub>5</sub>C<sub>4</sub>」となります。<br />
                    <sub>5</sub>C<sub>4</sub> = (5 * 4 * 3 * 2) / (4 * 3 * 2 * 1) = 5通り
                </li>
                <li>
                    特定の1スキルが含まれている組み合わせの総数は、「1枠目は必ず必須スキル(=1通り)」*「残りの3枠は必須ではないスキル(残り4つ)の中から選ぶ(=<sub>4</sub>C<sub>3</sub>)」となります。<br />
                    1 * <sub>4</sub>C<sub>3</sub> = 1 * (4 * 3 * 2) / (3 * 2 * 1) = 4通り
                </li>
                <li>
                    合成結果に特定の1スキルが含まれている確率は、「特定の1スキルが含まれている組み合わせの総数(=4通り)」/「合成結果として考えられる全ての組み合わせの総数(=5通り)」<br />
                    4 / 5 = 80%
                </li>
            </ul>
        </li>

        <li class="mb-5">
            素材カードに合計6つのスキルがあり、合成結果は銅カード(4つまでしかスキルを持てない)<br />
            その中で特定の1スキルは必須としたい場合
            <div class="ml-5">
                <img src="help-image/calc2.png" width="465" />
            </div>
            <ul>
                <li>
                    合成結果として考えられる全ての組み合わせの総数は、「6つのスキルの中から4つを選ぶ」＝「<sub>6</sub>C<sub>4</sub>」となります。<br />
                    <sub>6</sub>C<sub>4</sub> = (6 * 5 * 4 * 3) / (4 * 3 * 2 * 1) = 15通り
                </li>
                <li>
                    特定の1スキルが含まれている組み合わせの総数は、「1枠目は必ず必須スキル(=1通り)」*「残りの3枠は必須ではないスキル(残り5つ)の中から選ぶ(=<sub>5</sub>C<sub>3</sub>)」となります。<br />
                    1 * <sub>5</sub>C<sub>3</sub> = 1 * (5 * 4 * 3) / (3 * 2 * 1) = 10通り
                </li>
                <li>
                    合成結果に特定の1スキルが含まれている確率は、「特定の1スキルが含まれている組み合わせの総数(=10通り)」/「合成結果として考えられる全ての組み合わせの総数(=15通り)」<br />
                    10 / 15 = 66.667%
                </li>
            </ul>
        </li>

        <li class="mb-5">
            素材カードに合計6つのスキルがあり、合成結果は銅カード(4つまでしかスキルを持てない)<br />
            その中で特定の1スキルは必須としたい場合<br />
            <strong>※6つのスキルのうち、1つは同じスキルのLv違い</strong>
            <div class="ml-5">
                <img src="help-image/calc3.png" width="465" />
            </div>
            私の頭ではここを正確に出すのは難しいので、「このパターンより明らかに確率が低い事例」と「このパターンより明らかに確率が高い事例」を計算し、「その間の確率になるはず」ということを出力しています。
            <ul>
                <li>
                    上で算出した「素材カードに6つのスキルがあり、合成結果が4つまでしかスキルを持てない場合(=66.667%)」と比べて、同一スキルのLv違いが含まれている方が合成成功率は高くなります。<br />
                    今回の事例は「66.667%よりは明らかに高いはず」と考えられます。
                </li>
                <li>
                    上で算出した「素材カードに5つのスキルがあり、合成結果が4つまでしかスキルを持てない場合(=80%)」に、素材の6つめのスキルとして同一スキルのLv違いを足すと、今回の事例と同じになります。<br />
                    素材が増えた方が合成成功率は低くなるので、今回の事例は「80%よりは明らかに低いはず」と考えています。
                </li>
                <li>
                    ということで、66.667% ~ 80%と表示しています。
                </li>
            </ul>
        </li>

        <li class="mb-5">
            素材カードに合計8つのスキルがあり、合成結果は銅カード(4つまでしかスキルを持てない)<br />
            その中で特定の2スキルは必須としたい場合<br />
            <strong>※8つのスキルのうち、同じスキルのLv違いが2組ある</strong>(A+3/A-3/B+3/B-3/C-1/D-1/E-1/F-1)
            <div class="ml-5">
                <img src="help-image/calc4.png" width="465" />
            </div>
            <ul>
                <li>
                    8スキルの中から必須の2スキルが含まれる場合の確率を計算(Lv違いの同一スキルを無視して考える)<br />
                    <sub>6</sub>C<sub>2</sub> / <sub>8</sub>C<sub>4</sub> = 21.429%
                </li>
                <li>
                    6スキルの中から必須の2スキルが含まれる場合の確率を計算(2組のLv違いの同一スキルを減らして考える)<br />
                    (※A+3/B+3/C-1/D-1/E-1/F-1)<br />
                    <sub>4</sub>C<sub>2</sub> / <sub>6</sub>C<sub>4</sub> = 40%
                </li>
            </ul>
        </li>
    </ol>
</details>


@code {

}
